<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>

  <nav>
    <a href="/movies">Movies</a> |
    <a href="/genres">Genres</a>
  </nav>

  <hr>

  <form method="POST" action="<%= action %>">
    <label>Genre ID</label><br>
    <input type="number" name="genreId" value="<%= genre ? genre.genreId : "" %>" required>
    <br><br>

    <label>Name</label><br>
    <input type="text" name="name" value="<%= genre ? genre.name : "" %>" required>
    <br><br>

    <button type="submit">Save</button>
  </form>

  <br>
  <a href="/genres">Back</a>
</body>
</html>
